{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Nikolat27</title>
</head>
<body>

<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-logo">
            <a href="{% url "home_app:main" %}">MyApp</a>
        </div>
        <ul class="navbar-links">
            <li><a href="{% url "home_app:send_email" %}">Send Email</a></li>
            <li><a href="{% url "home_app:email_sent_successfully" %}">Check Status</a></li>
            <li><a href="{% url "accounts_app:login" %}">Login</a></li>
            <li><a href="{% url "accounts_app:register" %}">Sign Up</a></li>
        </ul>
    </div>
</nav>

<div align="center">
    <br>
    <img src="{% static "images/Django.png" %}" width="400px" height="300px" alt="">
    <img src="{% static "images/Docker.png" %}" width="400px" height="300px" alt="">
</div>

</body>
</html>
