body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #343a40;
    padding: 15px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar-links a:hover {
    text-decoration: underline;
}

h1 {
    color: deeppink;
}